/*NO MODIFICAR*/

body {
    background-color: #fff;
    color: #333;
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 1em;
    margin: 0;
}

ul {
    max-width: 700px;
    list-style:none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #4D7298;
    border: 2px solid #77A6B6;
    border-radius: .5em;
    color: #fff;
    padding: .5em;
}

/*MODIFICAR DESDE ACA*/
/*Los elementos de la lista son todos de diferentes tamaños, pero queremos que se muestren como tres columnas del mismo tamaño, sin importar el contenido de cada elemento*/
ul {
    display: flex;          
    justify-content: space-between; 
    
    
}

li {
    flex-grow: 1;     /* Hace que todos crezcan igual */
    flex-basis: 0;    /* Punto de partida igual para todos */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
}
