<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>torta de zanahoria</title>
</head>
<body>
    <h1>Recetario de Tortas</h1>
    
    <h2>Receta de Torta de zanahoria (Carrot cake) </h2>

    <img src="../img/torta zanahoria.jfif" alt="torta de zanahorias" width="500" height="250">

    <p>Con su textura húmeda y su toque especiado, la torta de zanahoria o carrot cake es una de las tortas más queridas en el mundo. Su origen se remonta a la Europa medieval, donde el azúcar era un lujo y se utilizaban zanahorias para endulzar los postres. Esta receta es del cocinero, Cristian Aquila </p>

    <h4>Lista ingrediente</h4>

    <ul>
        <li>150 g de azúcar</li>
        <li>130 cc de aceite de girasol</li>
        <li>1 huevo</li>
        <li>1 cucharadita de esencia de vainilla</li>
        <li>130 g de zanahoria</li>
        <li>70 g de pasas de uva</li>
        <li>50 g de nueces picadas</li>
        <li>100 g de harina 0000</li>
        <li>1/2 cucharadita de sal</li>
        <li>1/2 cucharadita de canela</li>
        <li> 5 g de polvo para hornear</li>
    </ul>

    <h4>Preparación paso a paso</h4>
    <ol>
        <li>En un bowl​ batir por 2 minutos el azúcar, el aceite de girasol y el huevo hasta que aclare.</li>
        <li>Añadir la esencia de vainilla y mezclar.</li>
        <li>En otro bowl mezclar la zanahoria rallada, las pasas de uva, las nueces picadas, las 2 cucharadas de harina y pasar al bowl del batido.</li>
        <li>Añadir la sal, la canela, el harina, el polvo para hornear y mezclar.</li>
        <li>Verter la preparación en un molde aceitado.</li>
        <li>Cocinar en horno a 170ºC entre 40 y 45 minutos hasta que esté cocido.</li>
        
    </ol>

    <iframe width="695" height="391" src="https://www.youtube.com/embed/xad7DQaxEGk" title="Carrot cake ESPONJOSO torta de zanahoria" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <a href="https://cocinerosargentinos.com/postres/torta-holandesa-de-manzanas"></a>
<br>
    <a href="./instructivo2.html">torta de Queso</a>
<br>
    <a href="../index.html">Inicio</a>
</body>
</html>